@model Midterm_Chuyende.Models.ViewModelDetail
@{
    ViewBag.Title = "Detail";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Index</title>
</head>
<body class="detailbody">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">GenZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class=row justify-content-center">
            <div class="a-post">
                <div class="image">
                    <img src="~/Content/img/1.jpeg" />
                </div>
                <form>
                    <div class="card">
                        <div class="card-header">
                            <a class="clickchudebaiviet" href="#">
                                <div class="chudebaiviet">@Model.post.Topic.topicName</div>
                            </a>
                            <div class="tenbaiviet">@Model.post.namePost</div>
                            <div class="thongtinbaiviet">
                                <i class="fa fa-comment-o" aria-hidden="true"></i> @Model.post.Comments.Count comment
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="noidungbaiviet">
                                <p class="nd">
                                    @Model.post.data
                                </p>
                            </div>                           
                        </div>
                        <div class="card-footer">
                            <div class="form-text-comment">
                                <div>
                                    <textarea id="input-text-add-comment"
                                              type="text"
                                              placeholder="Nhập bình luận của bạn"
                                              class="input-text-add-comment"                                              
                                              data-content="Vui lòng nhập bình luận của bạn trước khi gửi"
                                              data-placement="top"></textarea>
                                </div>
                                <a class="btn-comment-post">
                                    <i 
                                       class="fa fa-paper-plane"
                                       aria-hidden="true"></i>
                                </a>
                            </div>
                            <div id="list-comment-post">
                                @foreach (var cmt in Model.comments)
                                {
                                    <div class="comment" id="one-comment-@cmt.id">
                                        <div class="tacgia">@cmt.Account.name</div>
                                        <div class="noidungcmt">
                                            <div class="form-control">@cmt.data</div>
                                            <button class="btnthungrac"><i data-id="@cmt.id" class="thungrac fa fa-trash" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                }
                            </div> 
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>

</body>
</html>

<script>
    $(document).ready(function () {
        $(".btn-comment-post").click(function (event) {
            event.preventDefault()
            var comment = $("#input-text-add-comment").val();
            if (!comment) {
                $("#input-text-add-comment").popover("show").on('shown.bs.popover', function () {
                    $("#input-text-add-comment").focus();
                    setTimeout(function () {
                        $("#input-text-add-comment").popover('hide');
                    }, 2000);
                });
            }
            else {
                $(".btn-comment-post").css("display", "none");
                fetch("/Account/AddComment", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        data: comment,
                        idPost: @Model.post.id
                    }),
                })
                    .then((response) => response.json())
                    .then((result) => {
                        console.log("Success:", result);
                        $("#input-text-add-comment").val("");
                        $("#list-comment-post").append(`<div class="comment" id="one-comment-${result.msg.id}">
                                        <div class="tacgia">${result.msg.username}</div>
                                        <div class="noidungcmt">
                                            <div class="form-control">${result.msg.data}</div>
                                            <button class="btnthungrac"><i data-id="${result.msg.id}" class="thungrac fa fa-trash" aria-hidden="true"></i></button>
                                        </div>
                                    </div>`);
                        $(".btn-comment-post").css("display", "block");
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });
            }

        })
    })

    $(function () {
        $(document).on("click", ".btnthungrac", function (event) {
            event.preventDefault()
            var currentCommentId = $(this).attr("data-id");
            if (confirm("Bạn có chắc muốn xóa bình luận này?")) {
                fetch("/Account/DeleteComment", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        id: parseInt(currentCommentId)
                    }),
                })
                    .then((response) => response.json())
                    .then((result) => {
                        console.log("Success:", result);
                        $("#one-comment-" + currentCommentId).remove();
                    })
                    .catch((error) => {
                        console.error("Error:", error);
                    });
            }
        })
    })
</script>


